<h1>Pets#show</h1>

<div>
  <h2 style="background-image: url('https://source.unsplash.com/random')"><%= @pet.name %></h2>
  <div>
    <p><%= @pet.specie %></p>
    <p><%= @pet.size %></p>
    <p><%= @pet.description %></p>
    <h2>requests for <%= @pet.name %></h2>
<!--     <div>
      <% @pet.requests.each do |request| %>
        <p><%= "#{request.status}" %>
        <%= link_to request_path(request), method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-remove-link' do %>
          <i class="fas fa-trash"></i>
        <% end %>
        </p>
      <% end %>
    </div>
    <p><%= link_to '+ request', new_pet_request_path(@pet) %></p> -->
  </div>
</div>
